/* Importación de la fuente personalizada */
@font-face {
  font-family: 'MyCustomFont';
  src: url('./font/OTF/MD.otf') format('opentype');
}

/* Estilos globales */
body {
  margin: 0;
  padding: 0;
  font-family: 'MyCustomFont', Arial, sans-serif; /* Asegúrate de caer en una fuente segura */
}

/* AppBar */
.AppBar {
  background-color: #000;
  color: white;
}

/* botones*/
.Button {
  background-color: #000;
  color: white;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

.Button:hover {
  background-color: white;
  color: black;
}

