.auth-page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column; /* Cambio importante para la estructura de la columna */
  justify-content: center;
  align-items: center;
  text-align: center;
}
cd 

.auth-content {
  background: rgba(255, 255, 255, 0.5); /* Hacemos el fondo semi-transparente */
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc; /* Añadimos un borde */
  margin-top: 20px; /* Espacio entre el AppBar y el contenido */
}
